@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  @apply font-normal text-zinc-600;
}

h1,
h2,
h3,
h4,
h5,
label,
.sf,
button {
  font-family: 'SF Pro Rounded', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  @apply font-semibold select-text text-zinc-800;
}

a {
  @apply font-semibold text-zinc-800 hover:underline;
}

.btn {
  @apply px-4 py-2 font-semibold rounded-lg shadow-sm bg-zinc-100;
}

.btn-action {
  @apply text-white bg-zinc-900;
}

.input {
  @apply px-4 py-2 rounded-lg bg-zinc-100;
}

.input-filled {
  @apply bg-zinc-100 placeholder-zinc-400 text-zinc-600;
}

.twizard-bg {
  background: radial-gradient(
      circle at 15% 50%,
      #fb923c20,
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(circle at 45% 90%, #c084fc20, rgba(255, 255, 255, 0) 25%),
    radial-gradient(circle at 85% 30%, #22d3ee20, rgba(255, 255, 255, 0) 25%) !important;
}

.snip-bg {
  background: radial-gradient(
      circle at 15% 50%,
      #fb718530,
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(circle at 45% 90%, #60a5fa30, rgba(255, 255, 255, 0) 25%),
    radial-gradient(circle at 85% 30%, #38bdf830, rgba(255, 255, 255, 0) 25%) !important;
}

.burnouts-bg {
  background: radial-gradient(
      circle at 15% 50%,
      #4ade8020,
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(circle at 45% 90%, #0f172a20, rgba(255, 255, 255, 0) 25%),
    radial-gradient(circle at 85% 30%, #facc1520, rgba(255, 255, 255, 0) 25%) !important;
}

.fbpixel-bg {
  background: radial-gradient(
      circle at 15% 50%,
      #33415520,
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(circle at 45% 90%, #4ade8020, rgba(255, 255, 255, 0) 25%),
    radial-gradient(circle at 85% 30%, #fb718520, rgba(255, 255, 255, 0) 25%) !important;
}

.main-bg {
  background: radial-gradient(
      circle at 15% 50%,
      #ede9fe,
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(circle at 85% 30%, #d8f3f6, rgba(255, 255, 255, 0) 25%);
  max-height: 100vh;
}
